SECRET_KEY=

# Настройки базы данных PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Настройки для работы с базой данных в Django-приложении
NAME=
USER=
PASSWORD=
HOST=
PORT=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_TOKEN=
